

button {
    padding: 10px;
    display: flex;
    width: 180px;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    font-size: 1em;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}